/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Next Steps.....

-Add custom style to deal with reset
-Add 3 column Layout
-Add different sections
-Add images

*/

/*
  ======================================================
	Custom style -  This all to be changed
	======================================================
*/
  body {
		background: #293f50;
		font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

  h1, h2, h3, h4, h5, p, li {
		color: #505050;
	}

	h1 {
		font-size: 36px;
		line-height: 44px;
	}
  h2 {
		font-size: 24px;
		line-height: 44px;
	}
	h3 {
		font-size:21px;
	}
	h4 {
		font-size:18px;
	}

	h5 {
		font-size: 14px;
	}

/* <strong>, <cite> and <em> were reset */
  strong {
		font-weight: 400;
	}
	cite, em {
		font-style: italic;
	}

	/*
		======================================================
		Grid - Using border-box
		======================================================
	*/
  *,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

  .container {
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		width: 960px;
	}

	/*
	  ======================================================
		Typography
		======================================================
	*/

	h1, h3, h4, h5, p {
		margin-bottom: 22px;
	}

	/*
	  ======================================================
		Links
		======================================================
	*/

  a {
		color: #a85136;
	}
  a {
		text-decoration: none;
	}



	/*
	  ======================================================
		Navigation Styles
		======================================================
	*/
  .nav {
		text-align: right;
		text-transform: uppercase;
		border: 5px solid red;
	}

  .primary-nav {
		float: right;
	}
  .primary-nav a {
		color: #fff;
	}
  .primary-nav a:hover {  /* Is this needed if Links are the same?*/
		color: #a85136;
	}
	.primary-nav li {
		font-size: 15px;
		display: inline-block;
		margin: 10px 10px;
		vertical-align: top;
	}
  .primary-nav li:last-child {
		margin-right: 0;
	}
	/*
		======================================================
		Logo
		======================================================
	*/
  .logo {
		font-size: 20px;;
		text-align: left;
		text-transform: uppercase;
		border: 5px solid red;
		display: inline-block;
		vertical-align: top;
		float: left;
	}

	/*
		======================================================
    Clearfix - for clearing floats
		======================================================
	*/
  .group:before,
	.group:after {
		content: "";
		display: table;
	}
	.group:after {
		clear: both;
	}
	.group {
		clear: both;
		*zoom: 1;
	}


	/*
	=====================================================
	Buttons
	=====================================================
*/
